html
{
    min-height: 100%;
    position: relative;
}

.Blog
{
    margin-top: 5px;
}

.Blog p
{
    text-align: justify;
}

.Blog .container
{
    margin: 5px;
    border-top: 3px solid black;
    padding-top: 3px;
    border-bottom: 3px solid black;
    padding-bottom: 3px;
}

.Blog .col-8
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.TituloBlog
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 600px)
{
    .TituloBlog
    {
        margin-left: 5px;
    }
}

.TituloBlog .left
{
    display: flex;
}

.TituloBlog h6
{
    font-style: oblique;
}

.TituloBlog .left img
{
    width: 50px !important;
    height: 50px !important;
    margin-top: 8px;
    margin-left: 8px;
}
.Blog h2
{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Blog h4{
    font-weight: bold;
    margin-top: 5px;
    color: #A10914;
}

.Blog .fecha
{
    display: flex;
    justify-content: flex-end;
}

.Blog img
{
    width: 100%;
    height: 200px;
}