.navbar
{
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(65,38,38,1) 49%, rgba(84,26,26,1) 100%) !important;
}

.inicio .h5
{
    color: white;
    font-weight: bold;
}

.inicio .h6
{
    color: #F2CD5D;
    font-weight: bold;
}

.active
{
    color: #F2CD5D !important;
    font-weight: bold;
}

#Personal
{
    background-image: url('https://image.freepik.com/vector-gratis/luces-rojas-tecnologicas-fondo-panal_23-2148271056.jpg');
    color: white;
}

.Foto_Principal
{
    width: 40%;
    padding: 10px;
    border-radius: 100%;
    height: auto;
}

@media(max-width: 900px)
{
    .Foto_Principal
    {
        width: 100%;
    }
}

.badge-bootstrap
{
    background-color: #563D7C;
    color: white;
}

#Formacion .row .col-6 img
{
    width: 100%;
    height: 200px;
}

.badge-naranja
{
    background-color: #E54C21;
    color: white;
}

.badge-PHP
{
    background-color: #787BB4;
}

.btn-twitter
{
    background-color: #31A1F2;
    color: white;
}

.btn-twitter:hover
{
    color: white !important;
    font-weight: bold;
}

#Cursos img
{
    width: 100px;
    height: 100px;
}

#Cursos
{
    background: rgba(1,22,39,1);
    background: -moz-linear-gradient(-45deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(1,22,39,1)), color-stop(14%, rgba(26,55,71,1)), color-stop(28%, rgba(1,22,39,1)), color-stop(48%, rgba(26,55,71,1)), color-stop(68%, rgba(1,22,39,1)), color-stop(68%, rgba(1,22,39,1)), color-stop(84%, rgba(26,55,71,1)), color-stop(100%, rgba(1,22,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    background: linear-gradient(135deg, rgba(1,22,39,1) 0%, rgba(26,55,71,1) 14%, rgba(1,22,39,1) 28%, rgba(26,55,71,1) 48%, rgba(1,22,39,1) 68%, rgba(1,22,39,1) 68%, rgba(26,55,71,1) 84%, rgba(1,22,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#011627', endColorstr='#011627', GradientType=1 );
    color: white;
    text-align: center;
}

#footer
{
    background-color: #1E1E24;
    border-bottom: 10px solid #F2CD5D;
    margin-top: 5px;
    color: white;
}

#footer a
{
    color: white;
}

#footer a:hover
{
    font-weight: bold;
    color: #F2CD5D;
    text-decoration: none;
}

.footer_h4
{
    color: #F2CD5D;
    border-bottom: 3px solid #F2CD5D;
    padding-bottom: 6px;
}

.dropdown-menu .socialD
{
    width: 20px;
    height: 20px;
}

.dropdown-menu .dropdown-item:hover
{
    font-weight: bold;
}

.publicacion
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.publicacion .IMGF
{
    width: 100%;
}

#Proy .card
{
    height: 400px;
}

.Proy_foto
{
    height: 160px;
}

@media(max-width: 900px)
{
    #Proy .card
    {
        width: 100% !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #Proy .card img
    {
        height: 200px;
    }
}

@media(max-width: 600px)
{
    .ocultar
    {
        display: none;
    }
}

.imgE
{
    width: 100%;
    height: 200px;
}

.btn-platzi
{
    background-color: #98CA3F;
    color: white;
    font-weight: 700;
}

.PPrincipal
{
    display: flex;
    align-items: center;
}

.logotipo
{
    width: 80px;
    height: 80px;
}

.btn-gitlab
{
    background-color: #F2CD5D;
    color: black;
    font-weight: bold;
}

.IMGL
{
    display: flex;
    align-items: center;
    justify-content: center;
}   

.btn-curriculum
{
    width: 150px;
}

@media(max-width: 600px)
{
    .btn-curriculum
    {
        width: 90px;
    }

    .descripcion
    {
        display: none;
    }   
}

.IMG-Modal
{
    width: 100%;
}